.container {
    margin: 0 auto;
    max-width: 1440px;
}
.header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 252, 252);
}
.logo {
    margin: 20px 0px 20px 20px;
}
.logo img {
    width: 100px;
    height: 70px;
}
.header ul li {
    display: inline-block;
    margin: 20px;
}
.header ul li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
.box {
    display: flex;
    align-items: center;
}
.search {
    height: 50px;
    width: 300px;
    background-color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    display: flex;
    align-items: center;
}
.search input {
    outline: none;
    border: none;
    background-color: aliceblue;
    margin: 0 0 0 5px;
}
.cart_user {
    display: flex;
    align-items: center;
    margin: 20px;
}

.user i {
    font-size: 20px;
}
.cart i {
    font-size: 20px;
}
.footer {
    border-top: 1px solid rgb(244, 239, 239);
    height: 400px;
    padding: 40px;
    background-color: rgb(255, 252, 252);
}
.footer ul {
    padding-left: 0;
}
.main_foot {
    background-color: white;
}
.foot1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot1 ul li {
    list-style: none;
}
.foot2 ul li {
    list-style: none;
}
.foot1 ul li a {
    text-decoration: none;
    color: black;
}
.icon i {
    margin: 0 40px;
    font-size: 50px;
}
hr {
    background-color: red;
}
.foot2 {
    display: flex;
    justify-content: space-between;
}
.foot2 ul li a {
    text-decoration: none;
    color: black;
}
h3 {
    color: black;
}
.foot2 ul li a:hover {
    text-decoration: underline;
}
/* Css Chi tiết sản phẩm */

.detail__first {
    display: flex;
    margin: 0 0 20px 0;
}
.detail__first-img {
    width: 50%;
    height: 100%;
    margin: 0 40px 0 20px;
}
.detail__first .detail__first-img img {
    width: 100%;
    height: 100%;
}
.detail__first-content {
    flex: 1;
    font-size: 24px;
}
.detail__title {
    font-size: 35px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.detail__price {
    font-weight: bolder;
}
.detail__color-title {
    margin: 10px 0;
    font-weight: bold;
}

.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.yellow {
    background-color: purple;
}

.blue,
.red,
.green,
.yellow {
    text-align: center;
    display: inline-block;
    width: 100px;
    margin: 0 5px 10px;
    padding: 10px;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
}

.detail__size-title {
    margin: 0 0 10px 0;
    font-weight: bold;
}
.detail__size-item span {
    background-color: aqua;
    display: inline-block;
    padding: 10px 20px;
    width: 80px;
    text-align: center;
    border-radius: 15px;
    margin: 0 5px 0;
}
.detail__quantity-title {
    margin: 0 0 10px 0;
}
.action {
    margin: 10px 0 0 0;
}
.quantity {
    display: flex;
    border: 1px solid rgb(103, 100, 100);
    width: fit-content;
    border-radius: 10px;
}
.increase,
.decrease {
    font-size: 30px;
    cursor: pointer;
    color: #d5d7d8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
}
.number {
    font-size: 50px;
    padding: 0 0 0 20px;
    background-color: #ededed;
    width: 60px;
    /* text-align: center; */
    outline: none;
    border: none;
}
.detail__first-content button {
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px 20px 0;
    border: none;
    color: #fff;
}
.detail__first-content button:active {
    transform: scale(1.1, 1.1);
}
.buy__now {
    background-color: rgb(67, 226, 67);
}
.addCart {
    background-color: #000;
}
.wrap__detail {
    margin: 20px 0;
}
.wrap__detail .line {
    background-color: #000;
    width: 100%;
    height: 2px;
}
.detail__first-content h3 {
    font-size: 30px;
    margin: 20px 0 10px 0;
}
.comment {
    margin-top: 20px;
    font-size: 24px;
    position: relative;
}
.comment__title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.comment__add {
    position: absolute;
    top: 7px;
    right: 20px;
    background-color: rgb(81, 216, 81);
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.comment__add:active {
    transform: scale(0.9, 0.9);
}
.comment__content {
    background-color: aliceblue;
    padding: 10px 30px;
    border-radius: 25px;
    margin: 10px 0;
}
.comment__content .comment__content-acount {
    font-weight: bold;
    margin: 0 0 10px 0;
}
.comment__content-cm {
    margin-left: 20px;
}
.product__relative {
    display: flex;
    justify-content: space-around;
}

.product__relative-item {
    height: 400px;
    width: 30%;
    background-color: antiquewhite;
    border-radius: 10px;
}
.wrap__detail h4 {
    font-weight: bold;
    font-size: 40px;
    margin: 20px 5px;
}

/* Css Cart */
.wrap__cart {
    padding: 0 150px;
    font-size: 24px;
}
.cart__item {
    height: 200px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
    font-size: 20px;
    margin: 10px 0;
}
.cart__img {
    width: 100%;
    height: 100%;
}
.cart__item-product {
    display: flex;
    margin: 20px 0 0 0;
}
.cart__name {
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
}
.cart__img img {
    width: 90%;
    height: 80%;
}
.align__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cart__item .col-2 {
    height: 200px;
}
.choice__delete {
    display: flex;
}
.choice,
.delete,
.thanhtoan,
.tongtien {
    margin: 10px 20px;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.choice {
    background-color: aquamarine;
}
.delete {
    background-color: rgb(239 95 95);
}
.thanhtoan {
    background-color: rgb(45, 241, 45);
}
.choice:active {
    transform: scale(0.9, 0.9);
}
.delete:active {
    transform: scale(0.9, 0.9);
}
.thanhtoan:active {
    transform: scale(0.9, 0.9);
}

/* Css login */

.aside_item {
    display: flex;

    padding: 30px;
    background-color: #f5f5f5;
}
.aside {
    margin-left: 60px;
    width: 25%;
    height: 100%;
}
.title {
    font-weight: bold;
    height: 100px;
}
.title h3 {
    padding-top: 30px;
    margin-left: 28px;
    font-size: 24px;
}
.content ul li {
    text-transform: none;
    list-style-type: none;
    padding-bottom: 30px;
}
.content ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: black;
}
.content ul li a:hover {
    color: red;
}
.article {
    /* background-color: white; */
    height: 100%;
    width: 80%;
    margin-left: 40px;
}

.list_infor {
    padding: 60px;
}
.list_infor a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.list_infor h2 {
    padding-bottom: 30px;
}
.noidung {
    display: flex;
    justify-content: space-between;
}
.noidung p {
    font-size: 20px;
}

/* css to home/product */
.group {
    padding: 0 100px;
}
.cart_user {
    display: flex;
    align-items: center;
    margin: 20px;
}

.user i {
    font-size: 20px;
}
.cart i {
    font-size: 20px;
}
.prod {
    padding: 40px 0;
}
.line0 {
    background-color: gray;
    height: 1px;
    width: 210px;
    margin-bottom: 7px;
}
.line1 {
    background-color: gray;
    height: 1.8px;
    width: 30%;
    margin-bottom: 7px;
}
.line2 {
    background-color: gray;
    height: 2px;
    width: 50%;
    margin-bottom: 20px;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name_prod a {
    text-decoration: none;
}
.name_prod a:hover {
    color: red;
}
.sp img {
    border: 1px solid rgb(219, 216, 216);

    /* border-radius: 10px; */
}
.mota {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 2;
    height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
/* css phần thanh toán */
.wrap__thanhtoan {
    display: flex;
    font-size: 20px;
}
.ttgiao_hang {
    width: 50%;
    padding: 10px 40px;
    border-right: 3px solid #adb5bd;
}
.ttgio_hang {
    flex: 1;
    background-color: #fafafa;
    padding: 10px 40px;
    font-size: 20px;
}
.ttgio_hang-item {
    margin: 10px 0;
    display: flex;
    box-shadow: 1px 2px 2px #a9a9c4;
    padding: 0 0 10px;
}
.ttgio_hang-itemcontent {
    margin-left: 20px;
    padding: 0 20px 0 10px;
}
.ttgio_hang__title {
    font-weight: bold;
    font-size: 24px;
}
.ttgio_hang .line {
    background-color: #adb5bd;
    width: 100%;
    height: 2px;
}
.pttt__group {
    width: 100%;
    margin: 10px 0;
    border-radius: 25px;
}
.phivc,
.tamtinh,
.tong {
    margin: 10px 0;
}

.ttgio_hang__soluong,
.ttgio_hang__price {
    margin: 10px 0;
}
/* Css thanh toán thành công */
.wrap_success {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 10px 200px;
}
.ttgio_hang-item {
    padding: 10px 20px;
}
.wrap__sucess2 {
    background-color: #fafafa;
    padding: 20px 40px;
}
.tt_nguoinhan {
    padding: 10px 40px;
}
.tt_nguoinhan div {
    margin: 10px 20px;
}
.wrap__sucess2 h1 {
    text-align: center;
    color: rgb(67, 226, 67);
}
/* Css trang đơn hàng */

.wrap__donhang {
    font-size: 24px;
    padding: 20px 200px;
}
.donhang__item-sp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
}
.donhang__item {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
    padding: 10px 20px;
    margin: 20px 0;
}
.donhang__total,
.donhang__trangthai {
    margin: 10px 20px;
    display: inline-block;
}
.wrap__donhang h1 {
    text-align: center;
}
/* Css cho nav đơn hàng */
.donhang_nav {
    display: flex;
    justify-content: space-around;
    margin: 20px 10px;
}
.donhang_nav a {
    text-decoration: none;
    text-transform: none;
    color: #000;
    font-size: 24px;
}
.donhang_all {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17%;
    padding: 0 0 5px 0;
}
.duongkeduoi {
    border-bottom: 2px solid blue;
}
/* css cho product */
.aside_item {
    display: flex;
    padding: 30px;
    background-color: #f5f5f5;
}

.sidebar_aside {
    border-radius: 5px;
    width: 20%;
    background-color: white;
}
.list_prod {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-row-gap: 20px;
}
.sp {
    background-color: #fff;
    width: 100%;
}

/* danh mục */
.category {
    padding: 30px;
}
.category h3 {
    text-align: center;
    padding: 20px;
}
.list_danhmuc {
    display: flex;
    justify-content: space-evenly;
}
.list_danhmuc a {
    font-size: 20px;
    text-decoration: none;
}
.price {
    text-align: center;
    padding: 10px;
}
/* search theo tên */
.filter_name {
    padding-bottom: 20px;
}
.filter_name h5 {
    padding-bottom: 20px;
}
.search_sp {
    height: 40px;
    width: 220px;
    background-color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.search_sp input {
    outline: none;
    border: none;
    width: 150px;
    background-color: aliceblue;
    margin: 0 0 0 5px;
}
.button {
    padding-top: 20px;
}
.content_filter {
    text-align: center;
}
/* search theo giá */
.filter_price a {
    text-decoration: none;
    color: black;
}
.price {
    padding-bottom: 10px;
}
.filter_price a:hover {
    color: red;
}
/* valid dk */
.spanvalid {
    color: red;
    margin: 10px 0;
    height: 12px;
    font-weight: 600;
}
/* css cho form đăng nhập */
.form-login {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Thông báo thêm giỏ hàng thành công */

.wrap_tt {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.block {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.themthanhcong {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
.themthanhcong h5 {
    text-align: center;
    color: rgb(45, 241, 45);
    margin: 10px 0 20px 0;
}
